

.btn {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}


.btn-xl {
  font-size: 25px!important;
  padding: 20px, 40px;
  padding-bottom: 1.5rem!important;
  padding-left: 3rem!important;
  padding-right: 3rem!important;
  padding-top: 1.5rem!important;
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

#selectionContainer{
    width: 80%;
    padding-right: 30px!important;
    padding-left: 30px!important;
    margin-right: auto!important;
    margin-left: auto!important;
}


.about-btn {
  padding: 16px 32px;
  font-weight: 700!important;
}





.logo-link {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}



aside.codingLanguages img{
  margin: 10px auto;
}

.logo-link img{
  max-width: 250px;
  max-height: 60px;
}

#about_section{
  background: #edeeef;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

header.masthead {
  text-align: center;
  color: white;
  background-color: black;
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url("/assets/techBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


